# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ===============================
# Virtual Environment
# ===============================
venv/
.venv/
env/

# ===============================
# Environment Variables
# ===============================
.env


# ===============================
# Logs
# ===============================
logs/
*.log

# ===============================
# Streamlit
# ===============================
.streamlit/secrets.toml

# ===============================
# VS Code
# ===============================
.vscode/

# ===============================
# PyCharm
# ===============================
.idea/

# ===============================
# Build Files
# ===============================
build/
dist/
*.egg-info/

# ===============================
# Jupyter
# ===============================
.ipynb_checkpoints/

# ===============================
# OS
# ===============================
Thumbs.db
.DS_Store


# Data
data/

# Keep the folder in Git
!data/.gitkeep